*
{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: rgb(0, 122, 0);
    padding: 5% ;
    background-color: rgb(175, 255, 122);
}

.container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 41%;
    border: 2px solid rgb(141, 0, 0);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 0px 10px 0px;
}


.container img
{
    margin-right: 2%;
}

.container h1
{
    text-align: center;
}


.botoes
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    
}

button
{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid;
    color: darkgreen;
    margin: 1% ;
    padding: 5px;
    width: 200px;
    outline: 0;
}

button:hover
{
    background-color: darkgreen;
    color: aliceblue;
    border-color: darkgreen;
}

