<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image.png" href="/static/img/snake.png">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Snake Game</title>
    </head>
    <body>
        <div class="container">
            <img src="/img/snake.png" alt="snake">
            <h1>SNAKE GAME!</h1>
        </div>
        <canvas id="snake" width="512" height="512"></canvas>
        <div class="botoes">
            <button id="iniciar" onclick="iniciar(botao=true)"> Começar o jogo!</button>
        </div>
    </body>
    <script defer src="/static/js/script.js"></script>
</html>